.MoviePagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page{
    background: linear-gradient(#082a2a, teal);
    padding: 10px;
    border-radius: 50px;
    margin: 0 50px;
}
.MoviePagination button{
    margin: 0;
}