
.main{
    background-size: cover;
    background-position: center;
}
.MovieInfoMain{
    display: flex;
    padding: 50px;
    font-family: sans-serif;
    font-weight: bold;
    color: #eae6e6;
    height: 550px;
}
.MovieInfo{
    text-align: center;
    background-color: rgba(35, 40, 40, 0.76);
    padding-top: 50px;
}
.MovieInfoMain img{
    width: 350px;
    height: 550px;
}
.MovieInfoMain img:hover{
    box-shadow: 0 3px 18px 10px rgba(10,47,71,0.63);

}
.MovieInfoMain p{
    font-size: 20px;
    font-style: italic;
    text-align: justify;
    padding: 6%;
    margin-top: 30px;
}
button{
    width: 80px;
    height: 30px;
    margin-left: 50px;
    margin-top: 10px;
    color: snow;
    font-size: 15px;
    cursor: pointer;
    background: linear-gradient(#082a2a, teal);
    border: none;
    border-radius: 3px;
}
button:hover{
    box-shadow: 0 3px 18px 10px rgba(10,47,71,0.63);
}
.GenreBadge{
    margin-left: -20px;
}
.Trailer{
    padding: 5%;
}
