.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#082a2a, teal);
    height: 80px;
}
.Header a{
    padding-left: 80px;
    text-decoration: none;
    color: snow;
    font-size: 25px;
    margin: 0 5px;
}
.Header a[class='active'] {
    color: #591313;
}
.Header a:hover{
    color: #535969;
}
.login{
    display: flex;
    padding-right: 30px;
    align-items: center;
}
.login img{
    height: 30px;
    width: 30px;
}
.addBlockOfbutt{
    display: flex;
}
/*----dark-------*/
.HeaderDark{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#082a2a, teal);
    height: 80px;
}
.HeaderDark a{
    padding-left: 80px;
    text-decoration: none;
    color: snow;
    font-size: 25px;
    margin: 0 5px;
}
.HeaderDark a[class='active'] {
    color: #101e79;
}
.HeaderDark a:hover{
    color: #0c4615;
}
.btnDark{
    border-radius: 50px;
    border: 2px solid black;
    background: snow;
    color: black;
}