.mainLight{
    background: #c4d5d5;
    font-family:  sans-serif;
    letter-spacing: 1px;
}
button{
    font-family:  sans-serif;
    letter-spacing: 1px;
}
.mainDark{
    background-color: black;
    font-family:  sans-serif;
    letter-spacing: 1px;
}
.loading{
    height: 5px;
    background-color: teal;
}
.error{
    background-color: #bd1818;
}